body{
    margin: 0;
}

.navSection{
    background-color: rgb(174, 0, 255);
    min-height: 90vh;
    color: white;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 24px 32px;
}

.links a{
    color: white;
    text-decoration: none;
    padding: 15px;
    font-size: 30px;

}

.contact{
    color: darkmagenta;
    text-decoration: none;
    font-size:30px ;
    border: 20px solid white;
}

a.contact{
    background-color: white;
    border-radius: 25px 25px 25px 25px;
}

.contact:hover{
    opacity: 0.8;
}

.menu{
    padding: 0px 20% ;
   
}

.title{
    font-size: 100px;
    padding: 30px 0px;
    letter-spacing: 2px;
}

.aciklama{
    display: flex;
    font-size: 32px;
    justify-content: space-between;
}

.aciklama p{
    width: 50%;
    
}


.skills{
    display: flex;
    list-style: none;
}
.skills li{
    padding: 15px;
}

.blogSection{
    margin: 0px 500px ;
   margin-bottom: 50px;
   
    
}

.mainTitle{
    font-size: 72px;
    
}

.blogTitle{
    font-size: 36px;
    font-weight: 300;
}

.blogText{
    font-size: 24px;
}

.blogDate{
    font-size: 18px
}


.eventsSection{
    background-color: lightgray;
    padding:64px 20%;
}

.event{
display: flex;
justify-content: space-between;
border:1px solid ;

margin: 20px 10px;
border-radius: 25px 25px 25px 25px;
}


.eventTitle{
    font-size: 34px;
}

.eventDate{
    color: gray;
    font-size: 12px;
}

.eventLocation{
    font-size: 24px;
}

footer{
    background-color: black;
    padding: 64px;
    text-align: center;
}

footer img{
    width: 50px;
    height: 50px;
 
}